
.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.forms {
    display: block;
    text-align: center;
    padding-top: 50px;
}


h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.titulo {
    margin-left: 8px;
}

.form_paragraph1 {
    font-size: 0.66rem;
    width: 300px;
    opacity: 50%;
}

.form_paragraph2 {
    font-size: 0.70rem;
    width: 300px;
}

.paragraph_container {
    margin-left: 8px;
    padding-bottom: 5px;
}

.termo1 {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.termo2 {
    display: flex;
    align-items: center;
    margin-left: 4px;
    padding-bottom: 10px;
}


.form_button {
    display: flex;
    justify-content: center;
}

.checkbox1 {
    vertical-align: top;
}